body {
  padding: 0;
  margin: 0;
  background: black;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#unity-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#unity-canvas {
  background: #231F20;
  display: block;
  margin: 0;
  aspect-ratio: 768 / 1024;
  width: min(768px, 100vw);
  height: min(1024px, 100vh);
  max-width: 100vw;
  max-height: 100vh;
}
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform:
translate(-50%, -50%); display: none }
#unity-logo { width: 154px; height: 130px; background: url('unity-logo-dark.png')
no-repeat center }
#unity-progress-bar-empty { margin-left: auto; margin-right: auto; width: 141px;
height: 18px; margin-top: 10px; background: url('progress-bar-empty-dark.png') no-
repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background:
url('progress-bar-full-dark.png') no-repeat center }
#unity-warning { position: absolute; left: 50%; top: 5%; transform:
translate(-50%); background: white; padding: 10px; display: none }
